using WordCounter.Models;
<!DOCTYPE html>
<h
<h2>City List</h2>
<ul>

@foreach (WordFinder item in Model)
  {
    <li>@WordFinder.FindMatchingWords()</li>
  }
}

</ul>
<a href="/wordCounter/new">Add new city</a>











//<a href='/wordCounter/@.GetId()'>@WordFinder.Get()</a>
