<!DOCTYPE html>
  <html>
    <head>
     <meta charset="UTF-8">
     <title> WordFinder </title>
   </head>
   <body>
     <h1>Add a word and sentence for comparison</h1>
      <p>Add a the information here:</p>

      <form action="/wordCounter" method="post">
        <label for="inputword">Enter word</label>
        <input id="inputword" name="inputword" type="text">
        </br>
        <label for="inputsentence">Enter sentence</label>
        <input id="inputsentenced" name="inputsentence" type="text">
        <button type="submit">Add</button>
        <p><a href="/">Back home</a></p>
      </form>
   </body>
</html>
