<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> WordFinder </title>
  </head>
  <body>

  <h1>Lets find the how many words you have</h1>
  <h3><a href='/wordCounter/new>Add sentence and word to compare</a></h3>

  </body>
</html>
